---
---

/*   this is the default */
@import "{{ site.theme }}";

@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css";
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');

body {
  margin: 0;
  background-color: #000000;
  font-family: 'Space Grotesk', sans-serif; // Use the correct font-family name
}

.space-grotesk-1234 {
  font-family: 'Space Grotesk', sans-serif; // Use the correct font-family name
  font-weight: normal ;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: 'Space Grotesk', sans-serif; // Apply the font to h1 and h2
  font-weight: normal; // You can adjust the font-weight if needed
}

/* Additional styles for h1 and h2 if desired */
h1 {
  font-size: 2em;
  color: #6420AA;
}

h2 {
  font-size: 1.5em;
  color: #6420AA;
}

header h1 {
  font-family: 'Space Grotesk', sans-serif; // Apply the font to h1 within the header
  /* Additional styles for header h1 if desired */
  font-size: 2.5em;
  color: #6420AA;
}

a {
  font-family: 'Space Grotesk', sans-serif; // Apply the font to all links
  /* Additional styles for links if desired */
  color: #8e8e8e;  // Change link color as an example  
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline; // Add underline on hover
  color: #ffffff; // Change link color on hover
}

@media (prefers-color-scheme: light) {
  body {
    /*
    --color-canvas-default, copied from 
    https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown.css
    */
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    /* --color-canvas-default */
    background-color: #000000;
    background-image:none;
  }
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
