---
---

/*   this is the default */
@import "{{ site.theme }}";

@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css";
@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap";

body {
  margin: 0;
  background-color: #0d1117;
  font-family: space-grotesk-1234;
}

@font-face {
  font-family: "Space Grotesk";
  src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap') format('woff2'); /* Replace 'path/to/your/font-file.woff2' with the actual path to your font file */
  font-weight: normal;
  font-style: normal;
}

.space-grotesk-1234 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  body {
    /*
    --color-canvas-default, copied from 
    https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown.css
    */
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    /* --color-canvas-default */
    background-color: #000000;
    background-image:none;
  }
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
